<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wys.mcr.mapper.PointsMapper">
    <select id="getTotalPoints" resultType="java.lang.Integer">
        SELECT sum(points) from app_points where deleted=0 and points = 1 and userId = #{userId}
        <if test="fromDate != null">
            and DATE_FORMAT(createDate,'%Y-%m-%d') >= DATE_FORMAT(#{fromDate},'%Y-%m-%d')
        </if>
        <if test="toDate != null">
            and DATE_FORMAT(#{toDate},'%Y-%m-%d')>=DATE_FORMAT(createDate,'%Y-%m-%d')
        </if>
        group by userId
    </select>
</mapper>
